@import "tailwindcss";

@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));
@custom-variant data-celo (&[data-sponsor~="celo"]);

:root {
  /* Light mode colors (default) */
  --background: oklch(0.98 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  /* Primary is #0052FF for Base */
  --primary: #0052ff;
  --primary-foreground: #0052ff;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --chart-1: #ffffd9;
  --chart-2: #edf8b1;
  --chart-3: #c7e9b4;
  --chart-4: #7fcdbb;
  --chart-5: #41b6c4;
  --chart-6: #1d91c0;
  --chart-7: #225ea8;
  --chart-8: #253494;
  --chart-9: #081d58;
}

.dark {
  /* Dark mode colors */
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  /* Primary is #FFFFFF for Talent Protocol */
  --primary: #ffffff;
  --primary-foreground: #ffffff;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-chart-6: var(--chart-6);
  --color-chart-7: var(--chart-7);
  --color-chart-8: var(--chart-8);
  --color-chart-9: var(--chart-9);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

/* Celo colors */
[data-sponsor="celo"] {
  --background: #fcf6f1;
  --primary: #000000;
  --radius: 0rem;
  --color-neutral-300: rgba(0, 0, 0, 0.2);
  --color-yellow-500: #fcff52;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body,
  html {
    @apply bg-background text-foreground;
  }
}

/* Hide scrollbars but keep functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Custom utility classes */
.border-style {
  @apply border border-neutral-300 dark:border-neutral-800;
}

.border-top-style {
  @apply border-t border-neutral-300 dark:border-neutral-800;
}

.card-style {
  @apply rounded-lg border border-neutral-300 bg-white dark:border-neutral-800 dark:bg-neutral-900;
}

.card-style-background {
  @apply rounded-lg bg-white dark:bg-neutral-900;
}

.tooltip-style {
  @apply rounded-md border border-neutral-300 bg-white dark:border-neutral-800 dark:bg-neutral-800;
}

.button-style {
  @apply cursor-pointer rounded-md border border-neutral-300 bg-white text-black shadow-xs hover:bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-900 dark:text-white dark:hover:bg-neutral-800;
}

.toggle-group-style {
  @apply cursor-pointer rounded-md border border-neutral-300 bg-white text-black shadow-xs dark:border-neutral-500 dark:bg-neutral-900 dark:text-white;
}

.toggle-group-item-style {
  @apply h-full text-xs;
}

.button-style-no-border {
  @apply cursor-pointer rounded-none bg-white px-3 text-black shadow-xs hover:bg-neutral-100 focus-visible:bg-neutral-100 focus-visible:ring-0 dark:bg-neutral-900 dark:text-white dark:hover:bg-neutral-800 dark:focus-visible:bg-neutral-800;
}

.dropdown-menu-style {
  @apply bg-white text-xs text-neutral-800 dark:bg-neutral-800 dark:text-white;
}

.dropdown-menu-item-style {
  @apply cursor-pointer bg-white text-xs hover:bg-neutral-100 focus:bg-neutral-100 aria-selected:bg-neutral-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:aria-selected:bg-neutral-700;
}

.dropdown-menu-item-style-static {
  @apply bg-white text-xs hover:bg-neutral-100 focus:bg-neutral-100 aria-selected:bg-neutral-100 dark:bg-neutral-800 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 dark:aria-selected:bg-neutral-700;
}

.dropdown-menu-item-style-dragging {
  @apply cursor-grab bg-neutral-100 text-xs dark:bg-neutral-700;
}

.text-input-style {
  @apply bg-white text-xs text-neutral-800 dark:bg-neutral-800 dark:text-white;
}

.secondary-text-style {
  @apply text-neutral-600 dark:text-neutral-500;
}
